:root {
    --primary-color: #d3d3d3;
    --transient-color: #999999;
    --secondary-color: #1c1c1c;
    --accent-color: #3a3;
    --link-color: #2a2;
    --text-color: #2c2c2c;
    --hero-bg: #55cc55;
    --navbar-height: 60px;
    --sidebar-height: 40px;
    --logo-radius: calc( var(--navbar-height) * 0.7);
    --logo-top-margin: calc( var(--navbar-height) * 0.15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background 0.2s ease;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

nav {
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
}

svg {
    fill: var(--text-color);
}

ul.main-bar {
    list-style: none;
    display: flex;
}

.main-bar li {
    height: var(--navbar-height);
    width: 20%;
}
.main-bar li a:hover, .main-bar li button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

ul.main-bar li:last-child {
    margin-left: auto;
}

.main-bar li a, .main-bar li button {
    margin: auto;
    padding: 7px;
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-bar li a.logo {
    background-color: var(--accent-color);
    color: var(--text-color);
    margin-top: var(--logo-top-margin);
    width: var(--logo-radius);
    height: var(--logo-radius);
    border-radius: 50%;
}
.main-bar li a.logo:hover {
    background-color: hsl(120, 90%, 43%);
}
.main-bar li button, .sidebar li button {
    border: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}

ul li button {
    cursor: pointer;
}
.closed {
    display: none;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--primary-color);
    height: 100vh;
    width: 300px;
    list-style: none;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    z-index: 10;
    overflow-y: scroll;
}
.sidebar-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    z-index: 9;
}
.sidebar li a, .sidebar li button {
    display: flex;
    width: 100%;
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 0.8rem;
}
.sidebar li a:hover, .sidebar li button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.sidebar li button svg {
    margin-left: auto;
}
.sidebar.closed {
    display: none;
}

section {
    padding: 2rem;
    padding-bottom: 2.25rem;
}

section h1 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: solid 2px var(--accent-color);
    margin-bottom: 2rem;
}
section.about-me h1 {
    font-size: 2rem;
    margin-bottom: none;
    border: none;
}

.about-me {
    background-color: var(--hero-bg);
}

.cover-photo {
    width: 100%;
    height: auto;
    margin: auto;
}

.experiences {
    display: grid;
    grid-template-columns: repeat(minmax(200px, 1fr));
    gap: 1rem;
}
.experience{
    border-radius: 5px;
    padding: 1.5rem 1.1rem;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
.experience h2 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

ul.skill-list {
    list-style: none;
}

.education-paragraph {
    padding-bottom: 1.2rem;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

footer {
    margin-top: auto;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-on-mobile {
    display: none;
}